.img-wrap {
    width: 100%;
    padding-top: 100%;
    position: relative;
    img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}