$color-red: #E64545;
$color-blue: #1470CC;
$color-blue-dark: #477db3;
$color-yellow: #FF7733;
$color-purple: #6212B2;
$color-white: #FFFFFF;

$color-black1: #222;
$color-black2: #555;
$color-black3: #888;

$color-bg1: #f5f7fa;
$color-bg2: #e6ecf2;
$color-border1: #e6ecf2;
