.footer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    background: $color-white;
    margin-top: -56px;
    min-width: 320px;
    .footer-copyright {
        color: $color-black3;
        font-size: 14px;
    }
}