.header {    
    min-width: 320px;
    position: absolute;
    width: 100%;
    height: auto;
    background: $color-white;
    @include boxShadow;
    z-index: 9;
    .header-mask {
        visibility: hidden;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #000;
        opacity: 0;
        z-index: 8;
        transition: all .2s;
        opacity: .5;
        &.show {
            visibility: visible;
        }
    }
    .header-main {
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px 20px 0px;
        display: flex;
    }
    .header-logo {
        font-size: 40px;
        color: $color-blue;
        margin-right: 15px;
    }
    .header-search {
        flex:1;
        display: flex;
        position: relative;
        input {
            flex:1;
        }
        button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    .header-info {
        align-content: flex-end;
        display: flex;
        align-items: center;
    }
    .header-account, .header-cart, .header-app {
        font-size: 24px;
        color: $color-black2;
        margin-left: 20px;
        cursor: pointer;
    }
    .header-cat {
        display: flex;    
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 20px;
    }
    .header-menu {
        display: flex;
        align-items: center;
        &-icon{
            font-size: 24px;
            color: $color-black2;
            cursor: pointer;
        }
        &-content {
            visibility: hidden;
            position: fixed;
            top: 0;
            left: -280px;
            bottom: 0;
            width: 280px;
            background: $color-white;
            z-index: 9;
            transition: 200ms;
            padding: 20px 0;
        }
        &-item {
            padding: 10px 20px;
            color: $color-black1;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            &:hover {
                background: $color-bg2;
            }
        }
        &-show {
            visibility: visible;
            transform: translateX(280px);
        }
    }
    .header-cat-item {
        font-size: 14px;
        color: $color-black2;
        padding: 0 10px;
        margin: 5px 0;
        @include borderRadius;
        position: relative;
        .header-cat-title {
            cursor: pointer;
            height: 40px;
            line-height: 40px;
            color: $color-black1;
        }
        &:hover {
            background: $color-bg2;
            .header-cat-title {
                .icon-down {
                    transform: rotate(180deg)
                }
            }
            .header-cat-list {
                display: flex;
                & > .header-cat-level {
                    display: block;
                }
            }
        }
        .header-cat-list {
            display: none;
            position: absolute;
            box-sizing: border-box;
            left: 0;
            top: 40px;
        }
        .header-cat-level {
            box-shadow: rgba(0,0,0,0.247) 0 2px 5px 0;
            display: none;
            width: 280px;
            min-width: 280px;
            height: 454px;
            border-left: 1px solid #dae0e5;
            padding: 10px 0;
            background: #fff;
        }
        .header-cat-level2 {
            position: absolute;
            left: 280px;
            top: 0;
        }
        .header-cat-level3 {
            position: absolute;
            left: 280px;
            top: 0;
            .header-cat-list-item:hover {
                background: $color-bg2;
            }
        }
        .header-cat-list-item {
            overflow: hidden;
            text-overflow: ellipsis;
            color: $color-black2;
            cursor: pointer;
            &.hover {
                background: $color-bg2;
                & > .header-cat-level {
                    display: block;
                }
            }
            .title {
                padding: 10px 20px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .header {
        .header-main {
            justify-content: space-between;
            padding-bottom: 80px;
        }
        .header-search {
            height: 40px;
            line-height: 40px;
            position: absolute;
            top: 80px;
            left: 20px;
            right: 20px;
        }
        .header-logo{
            margin-right: -100px;
        }
    }
}